.game {
    width: 600px;
    height: 250px;
    border-bottom: 1px solid black;
    margin: auto;
}
#dino {
    width: 50px;
    height: 50px;
    background-image: url(img/b_dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 140px;
}
#cactus {
    width: 20px;
    height: 40px;
    background-image: url(img/e_cactus.png);
    background-size: 20px 40px;
    position: relative;
    right: 580px;
    top: 110px;
    animation: cactusMov infinite 1s linear;
}
@keyframes cactusMov {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}
.jump {
    animation: jump 0.3s linear;
}
@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 130px;
    }
    50% {
        top: 80px;
    }
    80% {
        top: 130px;
    }
    100% {
        top: 150px;
    }
}